.parallax {
  background-image: url('https://user-images.githubusercontent.com/70382532/138322189-2db8df52-9dcb-40a0-88a8-c365466bd33d.gif');
  /* Adjust the min-height to a reasonable value that works for your layout */
  min-height: 1000px; /* Example value, adjust as needed */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .parallax {
    /* For smaller screens, you might want to adjust the background-attachment */
    background-attachment: scroll;
  }
}


.container{
  background-color: black;
  color: white;
  box-shadow: 0 4px 8px 0;
}
