
.text-center, .form-group, .mb-5 text-monospace{
  color: white;
}

.error {
  color: red;
  margin-top: 4px;
}

label{
  color: white;
}

.btn-outline-light.disabled, .btn-outline-light:disabled{
  margin-top: 15px;
}
