.container {
  box-shadow: 0 4px 8px 0;
}

.card-body, .card-titletext-center, .card-texttext-center {
color: white;
background-color:black;

}

.justify-content-center{
  background-color:black;
 }

.d{
  background-color: black;
  padding-left: 50px;
}

.text-center{
  color: white;
}

.element.style{
 background-color: black;
}

.text-monospace{
  color: white;
}

.cadastrarPost
{
  padding-top: 15px;
}

.card-header:first-child{
  background-color: black;
  color: white
}

*, ::after, ::before {
  color: white;
}

.btn-outline-light.disabled, .btn-outline-light:disabled{
  margin-top: 15px;
}

.btn:not(:disabled):not(.disabled){
  margin-top: 15px;
}

textarea.form-control{
  color: black;
}

.error {
  color: red;
  margin-top: 4px;
}

.spacer {
            display: block;
            content: "";
            margin-top: 20px;
            
}