.container{
  box-shadow: 0 4px 8px 0;
}
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    background-color: black;
    padding: 16px;
    margin-top: 30px;
    margin-left: 30px;
    margin-block-end: 100px;
    color: white;

h3 {
  font-weight: 500;
  text-align: center;
}

.error {
  color: red;
  font-size: 12px;
}

  .btn:not(:disabled):not(.disabled){
    margin-top: 15px;
  }

  .btn-outline-light:disabled{
    margin-top: 15px;
    position: right;
  }

  *, ::after, ::before {
    box-sizing: border-box;
    width: 100%;
}


}





