footer{
  margin-top: 50px;
}


.social-network{

  padding-top: 0.5cm;

}

.social-network {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; /* Centraliza os itens no contêiner */
  align-items: center;
  padding: 0 10px; /* Adiciona um pouco de espaço nas laterais do contêiner */
}

.social-network > li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px; /* Espaçamento inicial à direita de cada item */
}

.social-network > li:last-child {
  margin-right: 0; /* Remove a margem do último item */
}

@media screen and (max-width: 600px) {
  .social-network {
    padding: 0 5px; /* Reduz o espaçamento lateral em telas menores */
  }
  .social-network > li {
    margin-right: 10px; /* Reduz o espaçamento entre os ícones em telas menores */
  }
}



#github,
#instagram,
#tiktok,
#linkedin,
#youtube{
  font-size:2em;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px
  #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset
  2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px
  #00000080
  inset 2px 2px 10px #00000080;
  border-radius: 29px;
  padding: 8px 8px;
  margin: 0 20px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0
  150px #0072ff,
  0 0 200px #0072ff;
}

#github{
  animation-delay: 0.3s;
}
#instagram{
  animation-delay: 0.7s;
}
#tiktok{
  animation-delay: 0.1s;
}
#linkedin{
  animation-delay: 0.1s;
}
#youtube{
  animation-delay: 0.1s;
}

@keyframes animate{
  from{
    filter: hue-rotate(0deg);
  }
  to{
    filter: hue-rotate(360deg);
  }
}

#github, #instagram, #linkedin, #tiktok, #youtube {
  color: white;
}

#github:hover{
  color: #3b5998;
}

#instagram:hover{
  color: #c13584;
}

#tiktok:hover{
  color: #c13584;
}

#linkedin:hover{
  color: #0072b1;
}


