

.card{
  width: 100%;
  margin-left: 20px;
  background-color: black;
  color: white;
  }

.container{
  box-shadow: 0 4px 8px 0;
}

.btn-outline-light.disabled, .btn-outline-light:disabled{
  margin-top: 15px;
  margin-block-end: 15px;
}

.btn:not(:disabled):not(.disabled){
  margin-top: 15px;
  margin-bottom: 15px;
}

.error {
  color: red;
  margin-top: 4px;
}



